SVM CLASSIFIER

In [ ]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
train_data = pd.read_csv("/content/train (1).csv")
train_data.head()

,ID,Sales,CompetitorPrice,Income,Advertising,Population,Price,Location,Age,Education,Urban,US
0,1,6.01,131,29,11,335,127,Bad,33,12,Yes,Yes
1,2,6.50,148,51,16,148,150,Medium,58,17,No,Yes
2,3,7.70,118,71,12,44,89,Medium,67,18,No,Yes
3,4,7.78,86,54,0,497,64,Bad,33,12,Yes,No
4,5,11.82,113,66,16,322,74,Good,76,15,Yes,Yes

In [ ]:
train_data.dtypes

ID                   int64
Sales              float64
CompetitorPrice      int64
Income               int64
Advertising          int64
Population           int64
Price                int64
Location            object
Age                  int64
Education            int64
Urban               object
US                  object
dtype: object

In [ ]:
train_data['Location'] = train_data['Location'].astype('category')
train_data['Urban'] = train_data['Urban'].astype('category')
train_data['US'] = train_data['US'].astype('category')

train_data["Loc_category"]=train_data['Location'].cat.codes
train_data['Urban_category']=train_data['Urban'].cat.codes
train_data['US_category']=train_data['US'].cat.codes
train_data.head()

,ID,Sales,CompetitorPrice,Income,Advertising,Population,Price,Location,Age,Education,Urban,US,Loc_category,Urban_category,US_category
0,1,6.01,131,29,11,335,127,Bad,33,12,Yes,Yes,0,1,1
1,2,6.50,148,51,16,148,150,Medium,58,17,No,Yes,2,0,1
2,3,7.70,118,71,12,44,89,Medium,67,18,No,Yes,2,0,1
3,4,7.78,86,54,0,497,64,Bad,33,12,Yes,No,0,1,0
4,5,11.82,113,66,16,322,74,Good,76,15,Yes,Yes,1,1,1

In [ ]:
category = pd.cut(train_data.Sales,bins=[0,5,10,50],labels=['1','2','3'])
train_data.insert(1, 'Class', category)

In [ ]:
train_drop = train_data.drop(['Sales','Location','Urban','US'], axis=1)
train_drop.head()

,ID,Class,CompetitorPrice,Income,Advertising,Population,Price,Age,Education,Loc_category,Urban_category,US_category
0,1,2,131,29,11,335,127,33,12,0,1,1
1,2,2,148,51,16,148,150,58,17,2,0,1
2,3,2,118,71,12,44,89,67,18,2,0,1
3,4,2,86,54,0,497,64,33,12,0,1,0
4,5,3,113,66,16,322,74,76,15,1,1,1

In [ ]:
nan_dropped_data=train_drop.dropna()

In [ ]:
X = nan_dropped_data.drop(['Class'],axis=1)
y = nan_dropped_data['Class']

In [ ]:
from sklearn.svm import SVC

In [ ]:
svclassifier = SVC(kernel='linear')
svclassifier.fit(X,y)

SVC(kernel='linear')

In [ ]:
test_data = pd.read_csv('/content/test (1).csv')
test_data.head()

,ID,Sales,CompetitorPrice,Income,Advertising,Population,Price,Location,Age,Education,Urban,US
0,1,6.39,131,21,8,220,171,Good,29,14,Yes,Yes
1,2,8.77,118,86,7,265,114,Good,52,15,No,Yes
2,3,6.89,129,69,10,289,110,Medium,50,16,No,Yes
3,4,7.96,157,53,0,403,124,Bad,58,16,Yes,No
4,5,7.57,112,88,2,243,99,Medium,62,11,Yes,Yes

In [ ]:
test_data['Location'] = test_data['Location'].astype('category')
test_data['Urban'] = test_data['Urban'].astype('category')
test_data['US'] = test_data['US'].astype('category')

test_data["Loc_category"]=test_data['Location'].cat.codes
test_data['Urban_category']=test_data['Urban'].cat.codes
test_data['US_category']=test_data['US'].cat.codes
test_data.head()

,ID,Sales,CompetitorPrice,Income,Advertising,Population,Price,Location,Age,Education,Urban,US,Loc_category,Urban_category,US_category
0,1,6.39,131,21,8,220,171,Good,29,14,Yes,Yes,1,1,1
1,2,8.77,118,86,7,265,114,Good,52,15,No,Yes,1,0,1
2,3,6.89,129,69,10,289,110,Medium,50,16,No,Yes,2,0,1
3,4,7.96,157,53,0,403,124,Bad,58,16,Yes,No,0,1,0
4,5,7.57,112,88,2,243,99,Medium,62,11,Yes,Yes,2,1,1

In [ ]:
category_test_data = pd.cut(test_data.Sales,bins=[0,5,10,50],labels=['1','2','3'])
test_data.insert(1, 'Class', category_test_data)

In [ ]:
test_drop = test_data.drop(['Sales','Location','Urban','US'], axis=1)
test_drop.head()

,ID,Class,CompetitorPrice,Income,Advertising,Population,Price,Age,Education,Loc_category,Urban_category,US_category
0,1,2,131,21,8,220,171,29,14,1,1,1
1,2,2,118,86,7,265,114,52,15,1,0,1
2,3,2,129,69,10,289,110,50,16,2,0,1
3,4,2,157,53,0,403,124,58,16,0,1,0
4,5,2,112,88,2,243,99,62,11,2,1,1

In [ ]:
tst=test_drop.drop(['Class'],axis=1)
print(tst)

    ID  CompetitorPrice  Income  Advertising  Population  Price  Age  \
0    1              131      21            8         220    171   29
1    2              118      86            7         265    114   52
2    3              129      69           10         289    110   50
3    4              157      53            0         403    124   58
4    5              112      88            2         243     99   62
5    6              122      76            0         270    100   60
6    7              121      24            0         200    133   73
7    8              143      77           25         448    156   43
8    9              138      83            0         139    134   54
9   10              116      72            0         237    128   70
10  11              137     117            5         337    135   38
11  12              145     119           16         294    113   42
12  13              131      67            7         272    126   54
13  14              142      30            0         472    136   80
14  15              141      63            0         168    135   44
15  16              149      69           20         366    134   60
16  17              123     105            0         149    118   62
17  18              139      35            0          95    129   42
18  19              159      80            0         362    121   26
19  20              113      35           10         269     80   59
20  21              142      90            1         189    112   39
21  22              143      21            5          81    160   67
22  23              122      77           24         382    127   36
23  24              123      76           18         218    120   29
24  25              138     108           17         203    128   33
25  26              121      90            0         150    108   75
26  27              121      68            0         279    149   79
27  28              132     113            0         131    124   76
28  29              111      28            0         486    111   29
29  30              138      35            6          60    143   28
30  31               98     104            0         404     72   27
31  32              132     107            0         144    125   33
32  33              159      69            0         438    166   46
33  34              128      39           12         356    118   71
34  35              124      84            0         300    104   77
35  36              136      70           12         171    152   44
36  37              133      33           10         333    129   71
37  38              113      33            0          14     63   38
38  39              118      74            6         426    102   80
39  40              124      46            0         199    135   52
40  41              131      82            0         132    157   25
41  42              130      30            0         391    100   26
42  43              125      87            9         232    136   72
43  44              111     105            0         466     97   61
44  45              130      94            8         137    128   64
45  46              124      61            0         333    138   76
46  47              124      65           21         496    151   77
47  48              121     120           13         140     87   56
48  49              141      33            0         243    144   34
49  50              116      78            1         158     99   45
50  51              103      81            3         491     54   66

    Education  Loc_category  Urban_category  US_category
0          14             1               1            1
1          15             1               0            1
2          16             2               0            1
3          16             0               1            0
4          11             2               1            1
5          18             1               0            0
6          13             1               1            0
7          17             2               1            1
8          18             2               1            0
9          13             1               1            0
10         10             0               1            1
11         12             0               1            1
12         16             1               0            1
13         15             1               0            0
14         12             0               1            1
15         13             1               1            1
16         16             0               1            1
17         13             2               1            0
18         18             2               1            0
19         12             2               1            1
20         10             1               0            1
21         12             2               0            1
22         16             1               0            1
23         14             2               0            1
24         14             1               1            1
25         16             0               1            0
26         12             1               1            0
27         17             2               0            1
28         12             2               0            0
29         18             0               1            0
30         18             2               0            0
31         13             2               0            0
32         17             2               1            0
33         10             2               1            1
34         15             2               1            0
35         18             2               1            1
36         14             1               1            1
37         12             1               1            0
38         18             2               1            1
39         14             2               0            0
40         14             0               1            0
41         18             2               1            0
42         10             1               1            1
43         10             0               0            0
44         12             2               1            1
45         16             2               1            0
46         13             0               1            1
47         11             2               1            1
48         17             2               1            0
49         11             2               1            1
50         13             2               1            0

In [ ]:
y_pred = svclassifier.predict(tst)
print(y_pred)

['1' '2' '2' '2' '2' '2' '1' '2' '2' '1' '2' '3' '2' '1' '2' '2' '1' '2'
 '2' '2' '2' '2' '2' '2' '2' '1' '1' '2' '2' '2' '2' '2' '2' '2' '2' '2'
 '2' '3' '2' '2' '1' '2' '1' '2' '2' '1' '1' '3' '2' '2' '3']

In [ ]:
id=test_data['ID']

In [ ]:
import csv
submission = open("20BRS1092_SVM.csv","w")
sub_file = csv.writer(submission)
sub_file.writerow(['ID','Class'])
for i in range(0,len(y_pred)):
    sub_file.writerow([str(id[i]),str(y_pred[i])])

submission.close()